body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    user-select: none;
}

/* 介面置中 */
#delay-home {
    margin-left: auto; 
    margin-right: auto;
}

/* 按鈕型式 */
table button {
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-width: 0px;
}

/* 主題 */
.light {
    background-color: white;
    color: #202020;
    transition-duration: 0.5s;
}

.dark {
    background-color: #262626;
    color: white;
    transition-duration: 0.5s;
}

.setbtn {
    margin-top: 20px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border-width: 0px;
}

.dark .setbtn {
    color: white;
    border-color: #cacaca;
    background-color: #6a6561;
}

.light .setbtn {
    border-color: #acacac;
    background-color: #e6e6e6;
}

.setbtn:hover {
    margin-top: 20px;
    width: 160px;
    height: 40px;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.light .setbtn:hover {
    background-color: #ffece2;
}

.dark .setbtn:hover {
    background-color: #987f6d;
}

.light .normal {
    background-color: #F0F0F0;
    color: #F0F0F0;
}

.light .noDelayNoNine {
    background-color: #c2cfba;
    color: #c2cfba;
    transition-duration: 0.5s;
}

.light .noDelayYesNine {
    background-color: #ced2d3;
    transition-duration: 0.5s;
}

.light .yesFlag {
    background-color: #bda792;
    color: #bda792;
    transition-duration: 0.5s;
}

.light .yesDelay {
    background-color: #e4b7b7;
    color: #e4b7b7;
    transition-duration: 0.5s;
}

.dark .normal {
    background-color: #575757;
    color: #575757;
}

.dark .noDelayNoNine {
    background-color: #6e7e63;
    color: #6e7e63;
    transition-duration: 0.5s;
}

.dark .noDelayYesNine {
    background-color: #696969;
    color: #c9c9c9;
    transition-duration: 0.5s;
}

.dark .yesFlag {
    background-color: #7a6f65;
    color: #7a6f65;
    transition-duration: 0.5s;
}

.dark .yesDelay {
    background-color: #a08787;
    color: #a08787;
    transition-duration: 0.5s;
}