body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#delay-home {
    margin-left:auto; 
    margin-right:auto;
}

table button {
    width: 40;
    height: 40;
}

.light {
    background-color: white;
    color: #373737;
}

.dark {
    background-color: #373737;
    color: white;
}